.SearchBox {
  height: 100%;
  white-space: nowrap;
  margin-right: 10px;
  display: flex;
  align-items: center;

  input {
    font-size: 18px;
    border: 2px solid #28e702;
    border-radius: 10px 0 0 10px;
    padding: 0 10px;
    width: 300px;
    height: 35px;
    outline: none;
  }

  button {
    font-size: 16px;
    background: rgb(41, 234, 2) linear-gradient(rgb(41, 234, 2), rgb(22, 124, 0));
    border: none;
    border-radius: 0 10px 10px 0;
    height: 39px;
    outline: none;
    color: #ffffff;
    text-shadow: 1px 1px #555555;
    &:active {
      background: rgb(41, 234, 2) linear-gradient(rgb(22, 124, 0), rgb(41, 234, 2));
      text-shadow: -1px -1px #555555;
    }
  }
}
